.colored-corner {
    position: relative;
    padding: 15px;
  }
  
  .colored-corner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 15px;
    border-style: solid;
  }
  